<div class="bg">

<app-navbar></app-navbar>

<div>
  <button class="btn1" (click)="checkPermissions()">Allow Webcam Access</button>
  <p class="status">Status: {{status}}</p>
</div>

<div>
  <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)" [imageQuality]="1"></webcam>
  <button type="button" class="captureImg" (click)="captureImage()">{{btnLabel}}</button>
</div>

<!--Preview Image-->
<div *ngIf="previewImage">
  <img class="imgpreview" src="previewImage" height="250" width = "250">
  <button (click)="proceed()">Proceed</button>
</div>

</div>