@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  font-size: larger;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0px;
  padding: 0;
}

.status {
  font-size: x-large;
  margin-top: 55px;
}


body {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-device-width:450px) {
    #DWTWrapper {
        flex: auto;
    }
}

#connecting {
    color: #999;
    animation: fade 1200ms infinite;
    -webkit-animation: fade 1200ms infinite;
}

#connected {
    color: #46BAAF;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg {
  /* The image used */
  background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-gray-solid-color-background.jpg");
  /* Full height */
  height: 200%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}