<div class="container col-md-6">
    <h1 style="color: rgb(10, 1, 1);">Register User</h1>
     <form>
   
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Name</label>
         <input type="text" class="form-control" id="name" name="name">
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">UserId</label>
         <input type="text" class="form-control" id="userId" name="userId" >
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Email</label>
         <input type="email" class="form-control" id="email" name="email" >
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Phone</label>
         <input type="text" class="form-control" id="phone" name="phone" >
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Password</label>
         <input type="password" class="form-control" id="password" name="password" >
       </div>
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
         <input type="password" class="form-control" id="cpassword" name="cpassword" >
       </div>
   
       <div class="mb-3">
         <label for="exampleFormControlInput1" class="form-label"></label>
         <div class="form-check">
           <input class="form-check-input" type="radio" name="gender" id="male" value="male" >
           <label class="form-check-label" for="exampleRadios1">
             Male
           </label>
         </div>
         <div class="form-check">
           <input class="form-check-input" type="radio" name="gender" id="femail" value="femail" >
           <label class="form-check-label" for="exampleRadios2">
           Female
           </label>
         </div>
       </div>
     <button id="Register2" type="submit" class="btn btn-primary">Register</button>
     </form>
   </div>